h1{
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}
#main_content{
    height: 500px; 
    margin-bottom: 200px;
}

p{
    padding-left: 10px;
    padding-right: 10px;
    text-align: justify;
}

                                     /*  media quaries */

@media(min-width: 992px){

    .p1_heading{
        text-align: center;
        background-color: darksalmon ;
        margin-left: 200px;
        padding-top: 5px;
        border-bottom: 1px solid black;
        border-left: 1px solid black;
    }
    .p2_heading{
        text-align: center;
        background-color: rgb(196, 194, 70);
        margin-left: 200px;
        padding-top: 5px;  
        border-bottom: 1px solid black;
        border-left: 1px solid black;
    }
    
    .p3_heading{
        text-align: center;
        background-color:khaki;
        margin-left: 200px;
        padding-top: 5px;
        border-bottom: 1px solid black;
        border-left: 1px solid black;
    }
    

    .content1{
        max-width: 31%;
        float: left;
        border: 1px solid black;
        margin: 10px;
        background-color: darkgray;
    }
    .content2{
        max-width: 31%;
        float: left;
        border: 1px solid black;
        margin: 10px;
        background-color: darkgray;
    }
    .content3{
        max-width: 31%;
        float: left;
        border: 1px solid black;
        margin: 10px;
        background-color: darkgray;
    }
}


@media(min-width: 768px) and (max-width: 991px){

    .p1_heading{
        text-align: center;
        background-color: darksalmon ;
        margin-left: 240px;
        padding-top: 5px;
        border-bottom: 1px solid black;
        border-left: 1px solid black;
    }
    .p2_heading{
        text-align: center;
        background-color: rgb(196, 194, 70);
        margin-left: 240px;
        padding-top: 5px;
        border-bottom: 1px solid black;
        border-left: 1px solid black;
    }
    
    .p3_heading{
        text-align: center;
        background-color:khaki;
        margin-left: 600px;
        padding-top: 5px;
        border-bottom: 1px solid black;
        border-left: 1px solid black;
    }
    .content1{
        max-width: 46%;
        float: left;
        border: 1px solid black;
        margin: 10px;
        background-color: darkgray;
    }
    
    .content2{
        max-width: 46%;
        float: left;
        border: 1px solid black;
        margin: 10px;
        background-color: darkgray;
    }
    .content3{
        max-width: 94%;
        float: left;
        border: 1px solid black;
        margin: 10px;
        background-color: darkgray;
    }
}

@media(max-width: 767px){
    .p1_heading{
        text-align: center;
        background-color: darksalmon ;
        margin-left: 300px;
        padding-top: 5px;
        border-bottom: 1px solid black;
        border-left: 1px solid black;
    }
    .p2_heading{
        text-align: center;
        background-color: rgb(196, 194, 70);
        margin-left: 300px;
        padding-top: 5px;
        border-bottom: 1px solid black;
        border-left: 1px solid black;
    }
    
    .p3_heading{
        text-align: center;
        background-color:khaki;
        margin-left: 300px;
        padding-top: 5px;
        border-bottom: 1px solid black;
        border-left: 1px solid black;
    }
    .content1{
        max-width: 98%;
        float: left;
        border: 1px solid black;
        margin: 10px;
        background-color: darkgray;
    }
    
    .content2{
        max-width: 98%;
        float: left;
        border: 1px solid black;
        margin: 10px;
        background-color: darkgray;
    }
    .content3{
        max-width: 98%;
        float: left;
        border: 1px solid black;
        margin: 10px;
        background-color: darkgray;
        margin-bottom: 100px;
    }
}

